@font-face {
    font-family: 'fontello';
    src: url('fontello.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?77728687#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: never;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-yt:before { content: '\e800'; } /* '' */
.icon-wa:before { content: '\e801'; } /* '' */
.icon-sc:before { content: '\e802'; } /* '' */
.icon-be:before { content: '\e803'; } /* '' */
.icon-viber:before { content: '\e804'; } /* '' */
.icon-telegram:before { content: '\e805'; } /* '' */
.icon-vk:before { content: '\e806'; } /* '' */
.icon-fbm:before { content: '\e807'; } /* '' */
.icon-fb:before { content: '\e808'; } /* '' */
.icon-inst:before { content: '\e809'; } /* '' */
.icon-twitch:before { content: '\e80a'; } /* '' */
.icon-twitter:before { content: '\e80b'; } /* '' */
.icon-ok:before { content: '\e80c'; } /* '' */
.icon-facebook:before { content: '\e80d'; } /* '' */
.icon-gplay:before { content: '\e80e'; } /* '' */
.icon-linked:before { content: '\e80f'; } /* '' */
.icon-dribble:before { content: '\e810'; } /* '' */
.icon-tik:before { content: '\e811'; } /* '' */
.icon-call:before { content: '\e812'; } /* '' */
.icon-vk-music:before { content: '\e813'; } /* '' */
.icon-steam:before { content: '\e814'; } /* '' */
.icon-devian:before { content: '\e820'; } /* '' */
.icon-yandexmusic:before { content: '\e821'; } /* '' */
.icon-flickr:before { content: '\e823'; } /* '' */
.icon-link:before { content: '\e824'; } /* '' */
.icon-mail:before { content: '\e825'; } /* '' */
.icon-pinterest:before { content: '\e826'; } /* '' */
.icon-google-podcasts:before { content: '\e827'; } /* '' */
.icon-youtube-music:before { content: '\e828'; } /* '' */
.icon-castbox:before { content: '\e829'; } /* '' */
.icon-donationalerts:before { content: '\e82c'; } /* '' */
.icon-deezer:before { content: '\e82d'; } /* '' */
.icon-discord:before { content: '\e82e'; } /* '' */
.icon-boom:before { content: '\e82f'; } /* '' */
.icon-patr:before { content: '\e903'; } /* '' */
.icon-uniE906:before { content: '\e906'; } /* '' */
.icon-spot:before { content: '\e911'; } /* '' */
.icon-apple:before { content: '\e912'; } /* '' */
.icon-applm:before { content: '\e918'; } /* '' */
.icon-applepod:before { content: '\e92f'; } /* '' */
.icon-zoom:before { content: '\e932'; } /* '' */
.icon-github:before { content: '\e93c'; } /* '' */
.icon-vimeo:before { content: '\e93f'; } /* '' */
.icon-web:before { content: '\e9c9'; } /* '' */
